a{
    padding: 5px;
    text-decoration: none;
    border: 1px solid red;
    background-color: seagreen;
    border-radius: 30px;
    color: white;
}

a:hover{
    background-color: gray;
    color: darkorange;
}

a:visited{
    color: blue;
}

a:active{
    background-color: coral;
}